body{
    padding: 0;
    margin: 0;
    background-color: #1C2C45;
    color: white;
}

nav{
    background-color: #1C2C45;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 1.5em;
}

nav img{
    max-width: 150px;
    margin-bottom: 15px;
}

nav h1{
    margin: 40px;
    justify-content: center;
}

nav div li {
    list-style  : none;
    
}

nav div li a{
    text-decoration: none;
    color: white;
}

nav div li a:hover{
    color: rgb(60, 90, 173);
}

.menu{
    display: flex;
    gap: 25px;
}

section div img{
    max-width: 400px;
}

section div{
    gap: 30px;
}

section{
    margin: 50px;
}

.espaco{
    display: flex;
}

.flex{
    display: flex;
    gap: 45px;
}

.imagem{
    max-width: 400px;
}